@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cousine|Cute+Font|IBM+Plex+Mono|Poppins');

* {
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
}

header a:hover {
    color: #a9b261;
}

a:visited {
    color: #c6c6c6;
}

body {
	width: 100%;
	height: 100%;
	background-color: white;
	font-family: 'Cousine', monospace;
}

header {
	background-color: rgba(255, 255, 255, .90);
	top: 0;
	width: 100%;
	height: 70px;
	position:fixed;
	font-weight:800;
	color:#fff;
	z-index: 3; /* to bring the layer on top for the arrangement */
	text-transform: uppercase;


}

header ul {
	display: flex;
	justify-content: center;


}

header ul li {
	list-style-type:none;
	display: list-item;
	line-height: 30px;
	float: left;
	width: 100px;
	text-align: center;

}

header ul li a { /* for links we need additional styling */
	color:#c9c18d;
	text-decoration: none;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;

}


#list1 {
	padding:0;
}

#main {
	width: 100%;

}

.project
{
padding-top: 70px;
padding-bottom: 70px;
}

.info {
	padding: 100px 0;
	background-size: cover;
	background-color: #ffffff;

}

.info h1 {
	font-family: 'Amatic SC', cursive;
	letter-spacing: 3px;
	text-align: center;
	font-size: 40px;
	color:#000000;
	margin-top: 0px;
}

#text {
	width: 200px;
	height: 200px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 250px;
	margin: 0 auto;
	opacity: 1;
}

.info p {
	font-family: 'Cousine', monospace;
	word-spacing: -2px;
	font-weight: 300;
	text-align: center;
	font-size: .80em;
	margin:0 auto;
	max-width: 100%;
	background-color: #ffffff;
	color:#000000;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 20px;

}



#carousel {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;
	margin-top: 100px;
	height: 500px;
}

#carousel .slide {
	 display: inline-block;
	     vertical-align:top;
	     width: 30%;
	     height: auto;
	     max-width: 350px;

}

.slide img {
	height: auto;
	width: 100%;
	box-shadow: 1px 1px 10px #999;
  margin: 2px;
  cursor: pointer;
	display:inline-block;
	display:inline;
	vertical-align:top;


}

footer {
	clear: both;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	position: fixed;
	bottom: 0px;
	background-color: #ffffff;

}

footer p{
	padding: 35px 0px;
	color: #000;
	font-weight: 700;
}


#exhibitions{
	padding-top: 0;
	list-style: none;
	text-align:center;
	font-size: .75em;
}

#exhibitions p {
	padding-top: 0;
}


/* 100% Image Width on Smaller Screens */


		#overlay,#overlay-3,#overlay-2,#overlay-4,#overlay-5,#overlay-6,#overlay-7,#overlay-8, #overlay-9,#overlay-10,#overlay-11,#overlay-12{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;

   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.90);
    z-index: 4;
    cursor: pointer;
		overflow-y: scroll;
}



#text{
    /* position:fixed;
    top: 20%;
    left: 10%;
    font-size: 12px; */

    color: white;
    /* transform: translate(-50%,50%);
    -ms-transform: translate(-50%,-50%); */

		z-index: 10;
		height: auto;
		width: 100%;

	}


#text img {
	max-width: 700px;
	width: 100%;
	height: 100%;
	z-index: 10;
	float: left;

}

#text #img2
{
	max-width: 700px;
	width: 27%;
	height: 100%;
	z-index: 10;
	float: left;
}

#text #img3
{
	max-width: 100%;
	width: 100%;
	height: auto;
	z-index: 10;
	float: left;
	padding-bottom: 10px;
}

#info {
	float: right;
	color: white;
	padding-right: 100px;
	width: 30%;
	font-size: .8em;

}



#video #text {
	color: white;
  height: auto ;
  width: 100%;

}


#video #info {
		max-width: 100%;
		width: 100%;
		margin: 0px;
		float: left;
		color: white;
		clear: both;
		transform: none;
		padding-top: 50px;
text-align: center;
padding-right: 0px;
}



.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#description {
max-width: 100%;
white-space:normal;
padding-bottom: 50px;
padding-left: 20px;
text-align: center;
}


.tres{
	max-width:100%;
	float: left;
	text-align: center;
	margin-top: 20px;
}
.tres img {
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;
}



.grid
{
	width: 100%;
	padding-top: 5%;;
	padding-left: 7%;
	padding-bottom: 7%;
}
.column3 img
{
	 width: 30%;
}

.column4 img
{
	width: 22.3%;
}




@media only screen and (max-width: 750px){

	.tres{
		max-width:100%;
		float: left;
		text-align: center;
		margin-top: 20px;
	}
	.tres img {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

		#text{
		    /* position:fixed;
		    top: 20%;
		    left: 10%;
		    font-size: 12px; */

		    color: white;
		    /* transform: translate(-50%,50%);
		    -ms-transform: translate(-50%,-50%); */
				height: auto;
				width: 100%;

			}

		#text img {
			max-width: 100%;
			margin-left: 0px;
			height: auto;
			width: 100%;
			z-index: 10;
			float: none;

		}
		#text #img2
		{
			max-width: 100%;
			margin-left: 0px;
			height: auto;
			width: 100%;
			z-index: 10;
			float: none;
		}

		#info {
			max-width: 100%;
			width: 100%;
			margin: 0px;
			float: left;
			color: white;
			clear: both;
			transform: none;
			padding-top: 50px;

		}

		.project
		{
			padding-bottom: 70px;
		}


}

@media only screen and (max-width:650px)
{
.grid
{
	width: 100%;
	padding-left: 0px;
	padding-bottom: 30%;
}
	.column3 img
	{
		 width: 100%;
	}

	.column4 img
	{
		width: 100%;
	}
}



@media only screen and (max-width: 400px){

	#text{
			/* position:fixed;
			top: 20%;
			left: 10%;
			font-size: 12px; */

			color: white;
			/* transform: translate(-50%,50%);
			-ms-transform: translate(-50%,-50%); */
			max-width: 400px;
			width: 100%;
			height: auto ;
		}



	#text img {
		margin-top:10%;
		margin-left: 0px;
		width: 400px;
		height: auto;
		z-index: 10;
		float: none;

	}

	#info {
		max-width: 100%;
		width: 100%;
		margin: 0px;
		float: right;
		color: white;
		clear: both;
		transform: none;

	}


}
