@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cousine|Cute+Font|IBM+Plex+Mono|Poppins');

@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('fonts/AvenirNextLTPro-UltLtCn.otf') format("opentype");
}

@font-face {
    font-family: 'FixtureItalic';
    font-weight: bold;
    src: url('fonts/FixtureItalic-CondensedBlack.ttf') format("truetype");
}

@font-face {
    font-family: 'Fixture';
    src: url('fonts/Fixture-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('fonts/AvenirNextLTPro-Regular.otf') format("opentype");
}

/* uncomment lines below if you want your canvas to cover the whole page
  you will also have to create canvas to the window dimensions
  in your p5 sketch, use: createCanvas(windowWidth, windowHeight); */
/* top: 0;
  left: 0;
  position: absolute; */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

.triangle {
    width: 400px;
    height: 400px;
}

.triangle {
    width: 400px;
    height: 400px;
     vertical-align: top;
      transition: opacity 0.3s;
      -webkit-transition: opacity 0.3s;
      opacity: .5;
    -khtml-opacity: .5;
}
.triangle:hover{
    opacity: 1;
    -khtml-opacity: 1;
}

#t1 {
    position: absolute;
    bottom: 40%;
    left: -50px;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(30% 60%, 0% 85%, 100% 100%);
    -webkit-clip-path: polygon(30% 60%, 0% 85%, 100% 100%);
}

.title {
    width 20%;
    max-width: 400px;
    position: fixed;
    top: 30%;
    left: 65%;
    display: none;
    color: #000;
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;

}



.title h1
{
font-family: 'FixtureItalic',monospace;
}

.title p
{
    margin-top: 5px;
    font-family: 'AvenirNextLTPro', monospace;
}

#t1:hover+#title1 {
    display: block;
}

#t2 {
    /* background: url("../images/composite3small.jpg"); */
    position: absolute;
    clip-path: polygon(40% 0%, 20% 5%, 70% 50%);
    -webkit-clip-path: polygon(40% 0%, 20% 5%, 70% 50%);
    /* background-size: contain; */
    /* position: relative; */
    bottom: 15%;
    left: 20%;
}

#t2:hover+#title2 {
    display: block;
}

#t3 {
    position: absolute;
    bottom: 10%;
    right: ;
    left: 10%;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(10% 50%, 30% 67%, 85% 50%);
    -webkit-clip-path: polygon(10% 50%, 30% 67%, 85% 50%);
}

#t3:hover+#title3 {
    display: block;
}

#t4 {
    position: absolute;
    bottom: 5%;
    right: 30%;
    left: ;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(30% 45%, 5% 50%, 60% 65%);
    -webkit-clip-path: polygon(30% 45%, 5% 50%, 60% 65%);
}

#t4:hover+#title4 {
    display: block;
}

#t5 {
    position: absolute;
    bottom: 10%;
    right: 20%;
    left: ;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(25% 60%, 33% 80%, 80% 100%);
    -webkit-clip-path: polygon(25% 60%, 33% 80%, 80% 100%);
}

#t5:hover+#title5 {
    display: block;
}

#t6 {
    position: absolute;
    bottom: 3%;
    right: 7%;
    left: ;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(25% 70%, 0 70%, 50% 50%);
    -webkit-clip-path: polygon(25% 70%, 0 70%, 50% 50%);
}

#t6:hover+#title6 {
    display: block;
}

#t7 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    left: ;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 64%, 25% 70%, 100% 100%);
    -webkit-clip-path: polygon(50% 64%, 25% 70%, 100% 100%);
}

#t7:hover+#title7 {
    display: block;
}

#t8 {
    position: absolute;
    bottom: 15%;
    right: ;
    left: 3%;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(0% 70%, 20% 93%, 100% 93%);
    -webkit-clip-path: polygon(0% 70%, 20% 93%, 100% 93%);
}

#t8:hover+#title8 {
    display: block;
}

#t9 {
    position: absolute;
    bottom: 35%;
    right: 300px;
    left: ;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(30% 70%, 40% 90%, 67% 100%);
    -webkit-clip-path: polygon(30% 70%, 40% 90%, 67% 100%);
}

#t9:hover+#title9 {
    display: block;
}

#t10 {
    position: absolute;
    bottom: 25%;
    right: 60%;
    left: ;
    top: ;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(65% 55%, 45% 50%, 80% 100%);
    -webkit-clip-path: polygon(65% 55%, 45% 50%, 80% 100%);
}

#t10:hover+#title10 {
    display: block;
}

header a:hover {
    color: #999;
}

a:visited {
    color: #c6c6c6;
}

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* overflow-y: scroll; */
}

header {
    display: block;
    top: 0;
    left: 0;
    /* width: 100%; */
    position: fixed;
    font-weight: 800;
    z-index: 3;
    /* to bring the layer on top for the arrangement */
    text-transform: uppercase;
}

.MainImg {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    /* height: 100vh; */
    overflow-y: hidden;
    overflow-x: hidden;
}

header ul {
    /* display: flex; */
    /* justify-content: center; */
    padding-left: 30px;
    padding-top: 30px;
}

header ul li {
    list-style-type: none;
    display: list-item;
    line-height: 20px;
    /* float: left; */
    width: 100px;
    /* text-align: center; */
}

header ul li a {
    /* for links we need additional styling */
    color: #c9c18d;
    text-decoration: none;
    font-family: 'AvenirNextLTProRegular', monospace;
    font-size: 1.5em;
}

footer {
    clear: both;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    position: fixed;
    bottom: 0px;
}

footer p {
    /* padding: 35px 0px; */
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
    color: #fff;
    /* font-weight: 700px; */
}

.icon {
    z-index: 100;
    display: none;
    color: #999;
}

.mainWork {
    height: 100%;
    width: 100%;
}

.project {
    width: 100%;
    margin-left: 17%;
    display: inline-flex;
    margin-right: auto;
}

#img2 {
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: auto;
}

#img3 {
    width: 100%;
    margin-bottom: auto;
}

#multipleImages {
    margin-top: 5vh;
    width: 45vw;
    max-height: 90vh;
    overflow-y: scroll;
}

#description {
    margin-top: 5vh;
    margin-left: 20px;
    width: 30%;
    max-width: 350px;
    height: 90vh;
    overflow-y: scroll;
    font-family: 'AvenirNextLTProRegular';
    /* float: left; */
}

iframe {
    width: 100%;
}

#videos {
    width: 100%;
}

#sound {
    padding: 5vh;
}

@media only screen and (max-width:900px) {
    .MainImg {
        width: auto;
        height: 100vh;
    }

    #name {
        font-size: 1em;
    }

    header ul li a {
        font-size: 1em;
    }
}




@media only screen and (max-width:650px) {
    #navBar {
        display: none;
    }

    .icon {
        position: fixed;
        top: 20px;
        right: 20px;
        display: block;
        float: right;
    }

    .project {
        width: 70%;
        height: 90vh;
        margin-top: 5vh;
        margin-left: 23%;
        margin-right: auto;
        display: inline-block;
        overflow: scroll;
    }

    #img2 {
        margin-top:0px;
        width: 100%;
        height: auto;
    }

    #img3 {
        margin-top:0px;
        width: 100%;
        margin-bottom: auto;
    }

    #multipleImages {
        margin-top:0px;
        width: 100%;
        overflow-y: scroll;
        padding-bottom: 20px;
    }

    #description {
        clear: left;
        margin-top:0px;
        width: 100%;
        overflow-y: visible;
        margin-left: 0px;

    }

    html {
        width: 100vw;
        overflow-y: visible;
    }

    body {
        width: 100%;
        overflow: visible;
    }

    .triangle {
        width: 200px;
        height: 300px;
    }

    .title {
    		position: static;
            max-width: 100%;
            width:100%;
            margin-top: 30%;
    		display:none;
    		color: #000;
    		font-size:1em;
    		text-align: center;
    }
    #statement, #about{
        width:50%;
        margin-right: 25%;
        margin-left: auto;
        margin-top: 25%;
        height:60%;
        overflow-y: scroll;
    }


}

/* canvas {
	max-width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -5;
} */
